<h3>AVerage Rating</h3>
{{avgRating | async}}

<h2>Reviews</h2>
<div *ngFor="let star of stars |async">
  {{star.userId}} gave {{star.movieId}} {{star.value}} stars
</div>

<h3>Post your review</h3>
<fieldset class="rating">
  <ng-container *ngFor="let num of [5,4,3,2,1]">
<!--full star  -->
<input (click)="starHandler(num)"
       [id]="'star'+num"
       type="radio"
       name="rating"
       [value]="num">
<label for="'star'+num" class="full"></label>
<!--half star  -->
<input type="radio"
       (click)="starHandler(num-0.5)"
       [id]="'halfstar'+num"
       [value]="num-0.5"
       name="rating">
<label [for]="'halfstar'+num" class="half"></label>
  </ng-container>
</fieldset>
